<section style="background-color: #eee">
  <div class="container py-5">
    <form [formGroup]="myForm">
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" (change)="filter()"
        formControlName="mySelect">
        <option value="">Choose Category</option>
        <option *ngFor="let opt of categories" [value]="opt.categoryId">{{opt.categoryName}}</option>
        <option>All</option>
      </select>
      <br>
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-4" *ngFor="let item of data; let index = index; trackBy: trackByIndex">
          <div class="card text-black">
            <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>
            <img src="{{item.productImageUrl}}" class="card-img-top" alt="Product Image" />
            <div class="card-body">
              <div class="text-center">
                <h5 class="card-title">{{ item.productName }}</h5>
                <p class="text-muted mb-4">{{ item.productType }}</p>
              </div>
              <div>
                <div class="d-flex justify-content-between">
                  <span> Product Price</span><span>{{ item.productPrice }}</span>
                </div>
                <div class="d-flex justify-content-between">
                  <span>Product Description</span><span>{{ item.productDescription }}</span>
                </div>
                <div class="d-flex justify-content-between">
                  <input type="number" class="form-control" placeholder="Quantity" formControlName="OrderQuantity">
                </div>
              </div>
              <br />
              <br />
              <div class="d-flex justify-content-center">
                <button (click)="addorder(index)" class="btn btn-primary ps-5 pt-2 pb-2 pe-5 ms-1">
                  Buy Now
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>