<div class="container">
    <h1 class="my-5 display-3 fw-bold ls-tight">
        <span class="text-primary">Make Payment </span>
    </h1>
    <form [formGroup]="myForm" (submit)="add()" class="mt-4">
        <div class="row mb-2">
            <div class="col-8">
                <h3>Order Price: {{price}}</h3>
            </div>
            <div class="col-4">
                <label>Payment Mode</label>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="PaymentMode">
                    <option value="Select an option">Select an option</option>
                    <option value="COD">COD</option>
                    <option value="Card">Card</option>
                </select>
                <br>
                <label>Card Number</label>
                <input type="text" class="form-control" placeholder="Enter Card Number" formControlName="CardNumber" />
                <br>
                <label>CVV</label>
                <input type="number" class="form-control" placeholder="Enter CVV" formControlName="CardCvv" />
                <br>
                <label>Card Expiry Date</label>
                <input type="date" class="form-control" placeholder="Enter Expiry Date" formControlName="CardExpiry" /><br>
                <label>Card Name</label>
                <input type="text" class="form-control" placeholder="Enter Name" formControlName="CardName" />
                <br>
                <div class="d-flex flex-row-reverse">
                    <button type="submit" class="btn btn-primary ps-5 pt-2 pb-2 pe-5">
                        Make Payment
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>